<form [formGroup]="this.form">
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput formControlName="code" placeholder="Kod lotu" #codeInput>
        <mat-error *ngIf="this.form.get('code').hasError('required')">Pole wymagane</mat-error>
        <mat-error *ngIf="this.form.get('code').hasError('minlength')">Minimalna ilość znaków to 4</mat-error>
        <mat-error *ngIf="this.form.get('code').hasError('maxlength')">Maksymalna ilość znaków to 7</mat-error>
        <mat-hint align="end">{{ codeInput.value.length }} / 7</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="origin" placeholder="Miejsce startu" >
        <mat-error *ngIf="this.form.get('origin').hasError('required')">Pole wymagane</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="destination" placeholder="Miejsce docelowe" >
        <mat-error *ngIf="this.form.get('destination').hasError('required')">Pole wymagane</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="departureTime" placeholder="Godzina odlotu" >
        <mat-error *ngIf="this.form.get('departureTime').hasError('required')">Pole wymagane</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="returnTime" placeholder="Godzina przylotu" >
        <mat-error *ngIf="this.form.get('returnTime').hasError('required')">Pole wymagane</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <textarea matInput formControlName="additionalInformation" placeholder="Dodatkowe informacje"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox formControlName="withSKPlanesDiscount">Z obnizką</mat-checkbox>
    </div>
  </div>

  <div formArrayName="crew" class="crew-container shadow" *ngFor="let crewMember of this.crew.controls; index as index">
    <div class="row crew-header">
      <div class="col">
        <span>Załogant - {{ index + 1 }}</span>
        <mat-icon class="float-right" (click)="this.removeCrewMember(index)">delete_forever</mat-icon>
      </div>
    </div>
    <div class="row" [formGroupName]="index">
      <div class="col-sm-5">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Nazwisko załoganta">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field >
          <mat-select formControlName="job" placeholder="Wybierz typ zawodu">
            <mat-option  *ngFor="let job of this.jobs; let j" [value]="job.value">{{ job.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" (click)="this.addCrewMember()">Dodaj załoganta</button>
    </div>
  </div>
</form>

<pre>
  {{this.form.value | json}}
</pre>