<form>
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput placeholder="Kod lotu" >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Miejsce startu" >
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Miejsce docelowe" >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Godzina odlotu" >
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Godzina przylotu" >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <textarea matInput placeholder="Dodatkowe informacje"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox>Z obnizką</mat-checkbox>
    </div>
  </div>
</form>